/* Estrutura básica */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  background-color: #ffffff;
}

/* Cabeçalho */
header {
  background-color: #000000;
  color: #ffffff;
  top: 0;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 200px;
  justify-content: space-between;
}

.logo {
  font-weight: bolder;
  font-size: xx-large;
  text-transform: lowercase;
  line-height: 0.9;
  text-align: left;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
}

.lista {
  margin-top: 20px;
}

.lista ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: larger;
  text-align: left;
}

.lista li {
  margin-bottom: 15px;
}

.lista a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.lista a:hover {
  color: #990000;
  text-decoration: underline;
}

/* Rodapé incorporado no cabeçalho */
footer {
  color: white;
  padding: 10px 0;
  font-size: small;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Conteúdo principal */
main {
  margin-left: 220px;
  padding: 40px;
  background-color: #ffffff;
  line-height: 1.8;
  font-size: 1.15rem;
  margin-top: 10px;
  border-radius: 10px;
  max-width: 1200px;
  margin-right: auto;
}

/* Estilo para seções */
section {
  padding-top: 1px;
  margin-bottom: 40px;
}

/* Títulos de seções */
h2 {
  font-size: 1.8rem;
  color: #990000;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #990000;
  padding-bottom: 5px;
}

/* Parágrafos */
p {
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
  text-align: justify;
  text-indent: 1em;
}

/* Divisões alfabéticas */
.alfabetica h2 {
  font-size: 1.8rem;
  color: #990000;
  margin-top: 20px;
  border-bottom: 2px solid #990000;
}

.alfabetica a {
  color: #333;
  text-decoration: none;
}

.alfabetica a:hover {
  color: #990000;
  text-decoration: underline;
}

/* Seção de autores */
.autores,
.alfabetica {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-top: 1px;
}

.autor {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.autor img {
  width: 60px;
  height: 60px;
  object-fit: cover scale-down;
  border-radius: 30%;
}

.autor p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.autor a {
  color: #333;
  text-decoration: none;
}

.autor a:hover {
  color: #990000;
  text-decoration: underline;
}

/* Botão hamburger (aparece apenas em dispositivos móveis) */
.menu-btn {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}

.telapequena {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0;
  background-color: #000000;
  font-size: small;
}

.formbox-editor-1762871 {
  margin: 0 auto;
  padding: 30px 40px;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
}

.formbox-editor-1762871 fieldset {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.formbox-editor-1762871 fieldset>input,
.formbox-editor fieldset>textarea,
.formbox-editable-field {
  margin: 10px 0;
  outline: none;
}

.formbox-title-1762871 {
  background: none;
  border: none;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 0;
  width: 100%;
  word-break: break-word;
  margin: 10px 0;
}

.formbox-title-1762871 {
  border-radius: 0;
  min-height: 0;
}

input.formbox-field-1762871 {
  border: 2px solid #f1f2f2;
  border-radius: 0;
  box-sizing: border-box;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 15px;
  width: 100%;
  height: auto;
}

input.field-error-1762871 {
  border-color: #f15858;
}

input.formbox-button-1762871 {
  background-color: #21292d;
  border-width: 0;
  border-style: solid;
  border-color: #21292d;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  word-break: break-all;
  cursor: pointer;
}

button.formbox-button-1762871 {
  background-color: #21292d;
  border-width: 0;
  border-style: solid;
  border-color: #21292d;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  word-break: break-all;
  cursor: pointer;
}

.formbox-editor-1762871 {
  background-color: #ffffff !important;
}

.formbox-title-1762871 {
  font-family: Georgia, Times, "Times New Roman", serif !important;
  font-size: 16px !important;
  color: #000000 !important;
  text-align: center !important;
}

.formbox-button-1762871 {
  font-family: Georgia, Times, "Times New Roman", serif !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  background-color: #21292d !important;
  border-radius: 2px !important;
  border-color: #21292d !important;
  border-width: 0px !important;
  width: 100% !important;
  border-style: solid;
}

#tdLogo1762871 img {
  margin-botton: 10px;
  max-width: 230px;
}

/* Estilos para tablets e dispositivos móveis */
@media (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: stretch;
    position: relative;
  }

  .logo {
    font-size: 1.5rem;
  }

  .lista {
    margin-top: 0;
  }

  .lista ul {
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: #000000b5;
    width: 100%;
    height: auto;
    text-align: right;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
  }

  .menu-btn {
    display: block;
    padding: 0 20px;
    z-index: 1000;
  }

  .menu-aberto ul {
    display: flex !important;
  }

  .lista li {
    margin-bottom: 10px;
  }

  footer {
    display: none;
  }

  .telapequena {
    display: block;
    bottom: 0;
    width: 100%;
    background-color: #00000063;
    font-size: x-small;
    position: fixed;
    text-align: center;
  }

  main {
    margin-left: 0;
    padding: 20px;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .alfabetica h2 {
    font-size: 1.4rem;
  }

  .autor {
    flex-direction: column;
    align-items: flex-start;
  }

  .autor img {
    width: 50px;
    height: 50px;
  }

  .autor p {
    font-size: 1rem;
  }
}

/* Estilos para dispositivos móveis menores */
@media (max-width: 480px) {
  .logo {
    font-size: 1.2rem;
  }

  .lista ul {
    font-size: 0.9rem;
    top: 90px;
  }

  .lista li {
    margin-bottom: 5px;
  }

  main {
    padding: 10px;
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .alfabetica h2 {
    font-size: 1.2rem;
  }

  .autor img {
    width: 40px;
    height: 40px;
  }

  .autor p {
    font-size: 0.9rem;
  }
}