/* Estilo básico */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.8;
}

/* Corpo principal */
main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: #ffffff;
}

/* Destaque para autor, título e subtítulo */
.destaque {
    text-align: center;
    margin-bottom: 30px;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.subtitulo {
    font-size: 2rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 15px;
}

.autor {
    font-size: 1.8rem;
    font-style: italic;
    color: #666;
}

.autor a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}

.autor a:hover {
    color: #900;
    text-decoration: underline;
}

/* Créditos */
.creditos {
    font-size: 1rem;
    padding: 10px;
    margin: 0;
    color: #000000;
    font-style: normal;
    border-top: 1px solid #510101;
    border-bottom: 1px solid #510101;
    line-height: 1;
}

.creditos p {
    margin: 3px 0;
}

.creditos a {
    color: rgb(126, 114, 114);
    text-decoration: none;
}

.creditos a:hover {
    color: #900;
    text-decoration: underline;
}

/* Sumário / Índice */
.indice {
    margin-bottom: 30px;
}

.indice h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.indice ul {
    list-style-type: none;
    padding-left: 0;
}

.indice li {
    margin-bottom: 5px;
}

.indice a {
    color: #666;
    text-decoration: none;
}

.indice a:hover {
    text-decoration: underline;
}

/* Estilo para o texto */
.texto {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
    text-indent: 1.27cm;
}

/* Capítulos e Subcapítulos */
.capitulo {
    font-size: 2rem;
    font-weight: bold;
    margin: 40px 0 20px;
    color: #333;
}

.subcapitulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 10px;
    color: #666;
}

.rodape {
    text-align: right; /* Alinha o texto à direita */
    font-size: 0.5rem; /* Tamanho da fonte menor */
    color: #666; /* Cor do texto */
    margin-top: 20px; /* Espaçamento superior */
}

/* Responsividade */
@media (max-width: 1024px) {
    .titulo {
        font-size: 2rem;
    }

    .subtitulo {
        font-size: 1.5rem;
    }

    .autor {
        font-size: 1.5rem;
    }

    .texto {
        font-size: 1.1rem;
    }

    .capitulo {
        font-size: 1.8rem;
    }

    .subcapitulo {
        font-size: 1.4rem;
    }

    .rodape {
        font-size: 0.4rem
    }
}

@media (max-width: 768px) {
    main {
        padding: 0 10px;
    }

    .titulo {
        font-size: 1.8rem;
    }

    .subtitulo {
        font-size: 1.4rem;
    }

    .autor {
        font-size: 1.4rem;
    }

    .texto {
        font-size: 1rem;
    }

    .capitulo {
        font-size: 1.6rem;
    }

    .subcapitulo {
        font-size: 1.2rem;
    }
    .rodape {
        font-size: 0.3rem;
    }
}

@media (max-width: 480px) {
    .titulo {
        font-size: 1.6rem;
    }

    .subtitulo {
        font-size: 1.2rem;
    }

    .autor {
        font-size: 1.2rem;
    }

    .texto {
        font-size: 0.9rem;
    }

    .capitulo {
        font-size: 1.4rem;
    }

    .subcapitulo {
        font-size: 1rem;
    }

    .rodape {
        font-size: 0.2rem;
    }
}
